*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box; /*mantiene los elementos en caja*/
}

main{
	background-color: dimgray;
	height: 720px;
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
}


header{
	width: 100%;
	height: 120px;
	background-color: salmon;
}

nav{
	width: 100%;
	height: 50px;
	background-color: lightgray;
}

section{
	width: 100%;
	height: 500px;
	background-color: lightskyblue;
}


footer{
	width: 100%;
	height: 50px;
	background-color: darkgray;
}

#izquierda{
	width: 60%;
	height: 500px;
	background-color: lightcyan;
	float: left;
}

#derecha{
	width: 40%;
	height: 500px;
	background-color: lightsteelblue;
	float: right;
}